<config>  
    <modules>
        <MKMage_LoadMoreProducts>
            <version>0.1.0</version>
        </MKMage_LoadMoreProducts>
    </modules>
	<frontend>
		
        <routers>
            <loadmoreproducts>
                <use>standard</use>
                <args>
                    <module>MKMage_LoadMoreProducts</module>
                    <frontName>loadmore</frontName>
                </args>
            </loadmoreproducts>
        </routers>  
        <layout>
			<updates>
				<loadmoreproducts>
					<file>mkmage/loadmore.xml</file>
				</loadmoreproducts>
			</updates>
		</layout>
    </frontend> 
    <global>
    	<events>
        	<admin_system_config_changed_section_loadmoreproducts>
        		<observers>
        			<loadmoreproducts>
        				<type>singleton</type>
                        <class>MKMage_LoadMoreProducts_Model_Observer</class>
                        <method>validateSystemSettings</method>
        			</loadmoreproducts>
        		</observers>
        	</admin_system_config_changed_section_loadmoreproducts>
        </events>
        <blocks>
            <loadmoreproducts>
                <class>MKMage_LoadMoreProducts_Block</class>
            </loadmoreproducts>
        </blocks>
        <models>
            <loadmoreproducts>
                <class>MKMage_LoadMoreProducts_Model</class>
            </loadmoreproducts>
        </models>
        <helpers>
            <loadmoreproducts>
                <class>MKMage_LoadMoreProducts_Helper</class>
            </loadmoreproducts>
        </helpers>
        <resources>
			<loadmore_setup>
				<setup>
				    <module>MKMage_LoadMoreProducts</module>
				</setup>
			</loadmore_setup>
		</resources>
    </global>
    <adminhtml>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <loadmoreproducts>
                                        <title>Inchoo - All</title>
                                    </loadmoreproducts>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</adminhtml>
</config>